<% balls = ['blue.png', 'green.png', 'grey.png', 'orange.png', 'pink.png', 'red.png', 'yellow.png', 'darkgreen.png',  'darkblue.png', 'lightgreen.png']  %>

<div id = "play_ground">
    <% for col in @matrix %>
          <ul>
              <% for color in col %>
                  <li>
                       <%=  image_tag "balls/#{balls[color]}", :size => "38x38", :alt => color %>
                  </li>
              <% end %>
          </ul>
    <% end %>
</div>