<% balls = ['blue.png', 'green.png', 'grey.png', 'orange.png', 'pink.png', 'red.png', 'yellow.png', 'darkgreen.png',  'darkblue.png', 'lightgreen.png'] %>;

<% @added.each do |ball| %>
        var $ul = $('#play_ground ul').eq(<%= ball[:col] %>);
        $ul.prepend('<li style = "display:none">'+'<%=  image_tag "balls/#{balls[ball[:color]]}", :size => "38x38", :alt => ball[:color] %>'+'</li>');
        $ul.children().fadeIn("slow");
<% end %>
