<div class="page-header">
  <h3>This is a great Game, which help you to improve you brain and have fun.</h3>
  <h3>So, no more waiting, choose options and push New Game button below.</h3>
</div>

<%= render :partial => 'form' %>
